@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular/Roboto-Regular.woff") format("woff"),
  url("../fonts/Roboto/Roboto-Regular/Roboto-Regular.ttf") format("ttf"),
  url("../fonts/Roboto/Roboto-Regular/Roboto-Regular.eot") format("eot");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold/Roboto-Bold.woff") format("woff"),
  url("../fonts/Roboto/Roboto-Bold/Roboto-Bold.ttf") format("ttf"),
  url("../fonts/Roboto/Roboto-Bold/Roboto-Bold.eot") format("eot");
}
