@import "mixins/index";
@import "vars";
@import "theme-style";
@import "components/base";

/*
HEADER CSS START
 */
@import "components/header";
/*
HEADER CSS END
 */

/*
MAIN BANNER CSS START
 */
@import "components/_main-banner";
/*
MAIN BANNER CSS END
 */

/*
SIDEBAR CSS START
 */
@import "components/sidebar";
/*
SIDEBAR CSS END
 */

/*
COLLECTIONS LIST CSS START
 */
@import "components/_colllection-list";
/*
COLLECTIONS LIST END
 */

/*
NEWS LIST CSS START
 */
@import "components/news";
/*
NEWS LIST END
 */

/*
CONTENT CSS START
 */
@import "components/content";
/*
CONTENT END
 */

/*
ASIDE SUBSCRIBE CSS START
 */
@import "components/aside-subscribe";
/*
ASIDE SUBSCRIBE END
 */

/*
ASIDE CSS START
 */
@import "components/aside";
/*
ASIDE END
 */

/*
SECTION LIST CSS START
 */
@import "components/section-list";
/*
SECTION LIST END
 */

/*
GALLERY LIST CSS START
 */
@import "components/gallery";
/*
GALLERY LIST END
 */

/*
FOOTER CSS START
 */
@import "components/footer";
/*
FOOTER LIST END
 */

/*
MODALS CSS START
 */
@import "components/modals";
/*
MODALS LIST END
 */

/*
BREDCRUMB CSS START
 */
@import "components/bredcrumb";
/*
BREDCRUMB LIST END
 */

/*
PEOPLE LIST CSS START
 */
@import "components/people-list";
/*
PEOPLE LIST END
 */

/*
SEARCH CSS START
 */
@import "components/search";
/*
SEARCH END
 */

/*
STATISTIC CSS START
 */
@import "components/statistic";
/*
STATISTIC END
 */

/*
visually CSS START
 */
@import "components/visual";
/*
visually END
 */

/*
CHARTS CSS START
 */
@import "components/chart";
/*
CHARTS CSS  END
 */

.scrolltotop{
  position: fixed;
  right: 20px;
  bottom: 20px;
  box-shadow: 0px 0px 30px rgba(0, 204, 153, 0.2);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  color: var(--kit-primary);
  transition: all .5s;
  display: none;
  text-align: center;
  z-index: 999;
  background-color: #fff;
}

.scrolltotop:hover{
  background-color: var(--kit-primary);
  color: #fff;
}
