$banner-height: 740px;

.main-banner{
  position: relative;
  overflow: hidden;
  height: $banner-height;
  &:after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 295px;
    width: 100%;
    background-image: url(../img/banner-holder.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .owl-prev,
  .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .owl-prev{
    left: 5%;
  }

  .owl-next{
    right: 5%;
  }
  
  /*
  &:after{
    content: "";
    position: absolute;
    left: -50%;
    bottom: -40px;
    width: 100%;
    height: 200px;
    background-color: #fff;
    transform: rotate(12deg);
    z-index: 10;
  }
  &:before{
    content: "";
    position: absolute;
    right: -50%;
    bottom: -40px;
    width: 100%;
    height: 200px;
    background-color: #fff;
    transform: rotate(-12deg);
    z-index: 10;
  }
  */
   
  &__item{
    height: $banner-height;
    background-size: cover;
    background-position: center center;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(303.33deg, rgba(0, 143, 204, 0.45) 18.07%, rgba(0, 204, 153, 0.7) 120.53%);
    }
  }

  .owl-dots{
    position: absolute;
    bottom: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  @media (max-width: $desktopWidth) {
    .owl-dots{
      bottom: 90px;
    }
    /*
    &:after,
    &:before{
      bottom: -60px;
    }
    */
  }

  @media (max-width: $smDesktopWidth) {
    /*
    &:after,
    &:before{
      bottom: -90px;
    }
    */
    height: 700px;
    &__item{
      height: 700px;
    }


  }


  @media (max-width: $tableWidth) {

    .owl-dots{
      bottom: 50px;
    }
    /*
    &:after,
    &:before{
      bottom: -140px;
    }
    */

    .owl-nav{
      display: none;
    }
  }
}

.main-page .main-banner .banner-item{
  padding-top: 265px;
  @media (max-width: $desktopWidth) {
    padding-top: 220px;
  }

  @media (max-width: $smDesktopWidth) {
    padding-top: 170px;
  }
}

.banner-item{
  &__content{
    position: relative;
    z-index: 200;
    color: #fff;
    height: calc(740px - 320px);
    min-height: 340px;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
  }

  &__title{
    margin-bottom: 30px;
    font-family: var(--bold-font);
    font-size: 28px;
  }

  &__desc{
    margin-bottom: 50px;
    font-size: rem(16px);
  }

  @media (max-width: $desktopWidth) {
    &__title{
      font-size: 22px;
    }
  }

  @media (max-width: $smDesktopWidth) {
    &__content{
      height: calc(650px - 220px);
    }

    &__title,
    &__desc{
      margin-bottom: 25px;
    }
  }

}

.owl-dots {
  counter-reset: dots;
}

.owl-carousel button.owl-dot{
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  color: var(--kit-primary);
  color: var(--kit-primary);
  margin: 0 10px;
  transition: all ease 0.3s;
  outline: none!important;
  &:hover,
  &.active{
    background-color: var(--kit-primary);
    color: #fff;
  }
}

.owl-dot:before {
  counter-increment:dots;
  content: counter(dots);
}