.aside-nav{
  background-color: #fff;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 204, 153, 0.1);
  border-radius: 10px;
  padding: 20px 0 0 0;
  overflow: hidden;
  margin-bottom: 30px;
}

.sidebar-title{
  margin-left: 15px;
  margin-right: 15px;
}

.sidebar-nav{
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  &__item > a{
    padding: 15px 15px;
    color: #797979;
    border-bottom: 1px solid #F1F1F1;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    transition: all ease 0.3s;
    .item-arrow{
      width: 35px;
      height: 35px;
      display: flex;
      flex: 0 0 auto;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      box-shadow: 0px 0px 20px rgba(0, 204, 153, 0.15);
      background-color: #fff;
      color: var(--kit-primary);
      margin-right: 10px;
      transition: all ease 0.3s;
      svg{
        width: 18px;
        height: 18px;
      }
    }
    
  }

  &__item > a:hover{
    padding-left: 20px;
  }

  &__item > a:hover,
  &__item.mm-active > a{
    background-color: var(--kit-primary);
    color: #fff;
  }

  &__item.active > a{
    .item-arrow{
      background-color: var(--kit-primary);
      color: #fff;
    }
  }

  &__item.mm-active > a{
    .item-arrow{
      transform: rotate(-90deg);
    }
  }


  &__item > ul{
    display: block;
    padding: 0 15px;
    margin: 0;
    list-style: none;

    li a{
      display: block;
      color: #797979;
      padding: 15px 15px;
      text-decoration: none!important;
      border-bottom: 1px solid rgb(241, 241, 241);
      transition: all ease 0.3s;
      font-size: 13px;
    }

    li{
      position: relative;
      transition: all ease 0.3s;
      &:after{
        content: "";
        position: absolute;
        left: 0;
        top: 20px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        border: 1px solid #ACACAC;
      }
      &.active:after,
      &:hover:after{
        background-color: var(--kit-primary);
        border-color: var(--kit-primary);
      }
      &.active,
      &:hover{
        margin-left: 5px;
        > a{
          color: var(--kit-primary);
        }
      }
    }

  }

}

.aside-banner{
  &_content{
    background-size: cover;
    background-position: center center;
    position: relative;
    color: #fff;
    height: 190px;
    padding: 20px 15px;
    text-align: center;
    font-family: var(--bold-font);
    font-size: 16px;
    border-radius: 10px;
    > div{
      position: relative;
      z-index: 10;
    }
    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color:  rgba(0, 204, 153, 0.7);
    }
  }

  &__logo{
    margin-bottom: 10px;
  }

  &__title{
    font-size: 22px;
    margin-bottom: 10px;
  }

}