.main-navbar{
  width: 100%;
  justify-content: space-between;
  .nav-link{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--bold-font);
    font-size: 12px;
  }

  .dropdown-toggle::after{
    border: 0;
    width: 6px;
    height: 6px;
    margin-left: 0.4em;
    vertical-align: 0.3em;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
  }

}


.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}

.main-navbar {

  .dropdown-menu{
    margin-top: 20px;
    min-width: 240px;
    padding: 0;
  }

  .dropdown-menu ul{
    position: relative;
    list-style: none;
    padding: 10px 20px;
    ul{
      padding-top: 0;
      padding-bottom: 0;
    }

    > li:last-child .dropdown-item{
      border-bottom: 0;
      margin-bottom: 0;
    }
  }

  .dropdown-item{
    position: relative;
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid #F2F2F2;
    color: #757575;
    margin-bottom: 5px;
    &:after{
      content: "";
      position: absolute;
      left: 8px;
      top: 15px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      border: 1px solid #ACACAC;
      transition: all ease 0.3s;
    }
    &:focus,
    &:hover{
      background-color: transparent;
      border-bottom-color: var(--kit-primary);
      color: var(--kit-primary);
      margin-left: 10px;
    }
    &:focus:after,
    &:hover:after{
      background-color: var(--kit-primary);
      border-color: var(--kit-primary);
    }

  }


}


.site-map-list{
  list-style: none;
  li > a{
    display: block;
    color: #757575;
    padding: 8px 15px;
    position: relative;
    text-decoration: none!important;
    transition: all ease 0.3s;
    // border-bottom: 1px solid #ACACAC;
    &:after{
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: 1px solid #ACACAC;
      left: 0;
      top: 15px;
    }
    &:hover{
      color: var(--kit-primary);
      border-bottom-color:  var(--kit-primary);
      &:after{
        background-color: var(--kit-primary);
        border-color: var(--kit-primary);
      }
    }
  }
}